<html>
 <head>
 </head>
 <body>
    <p>Payment type: Charge for applying</p>
    <p>Aalto Nordsec</p>
    <p>This payment is valid forall similar applications until</p>
    <p>{{validForallSimilarApplicationsUntil}}</p>
 </body>
</html>